{{yield}}
<div class="grid-table">
    <div class="table-header">
        <div class="row">
            <div class="col-md-6 col-sm-4">
                File Name
            </div>
            <div class="col-sm-2">
                Size/Progress
            </div>

            <div class="col-sm-2">
                Date
            </div>
        </div>
    </div>

  {{#each parentController.files as |aFile| }}
      <div>
          <div class="row">
              <div class="col-md-6 col-sm-4">
                {{aFile.name}}
              </div>

            {{#if aFile.isProgressHide}}
                <div class="col-md-6 col-sm-4">
                  {{aFile.size}}
                </div>
            {{else}}
                <div class="col-md-6 col-sm-4">
                    <progress min="0" max="100" value="{{aFile.progressIndex}}"></progress>
                </div>
            {{/if}}
          </div>
      </div>
  {{/each}}
</div>
