{{outlet}}

{{x-dropzone url='/api/uploadFile' maxFiles=5 autoProcessQueue=true addRemoveLinks=true vupdSuccess="uponUploadSuccess" vupdError="uponUploadError" submitBtn=submitBtn filesStatusChanged='filesStatusChanged' parentController=controller}}

<br/>
<button type="submit" id={{submitBtn}}>Submit all files</button>
<br/>
<br/>
<br/>

Uploaded File: {{status_message}}

<br/>
<br/>
<br/>

{{file-list}}

{{!--file-upload-attachments parentController=controller--}}
