{{outlet}}

eeeee{{controller}}
eeeeemodel{{model}}

{{x-dropzone url='#' autoProcessQueue=false addRemoveLinks=true success=uponUpload submitBtn=submitBtn}}
<br/>
<button type="submit" id={{submitBtn}}>Submit all files</button>
{{message}}
