{{outlet}}

{{x-dropzone url='#' autoProcessQueue=false addRemoveLinks=true vupd="uponUpload" submitBtn=submitBtn}}
<br/>
<button type="submit" id={{submitBtn}}>Submit all files</button>

<br/>
<br/>
<br/>

Uploaded File: {{status_message}}



{{x-dropzone url='#' autoProcessQueue=false addRemoveLinks=true vupd="uponUpload" submitBtn=submitBtn2}}
<br/>
<button type="submit" id={{submitBtn2}}>Submit all files</button>

<br/>
<br/>
<br/>

Uploaded File: {{status_message}}
